In [1]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [4]:
suma = 0
for number in range (1,51):
    suma += number
print(suma)

1275

In [7]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos=[]
for diena in dienos:
    for valanda in valandos:
        kombinacijos.append((diena,valanda))
        #print(f'{diena} {valanda}')
print(kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

In [8]:
for number in range(1,21):
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18

In [9]:
suma = 0
for number in range(1,51):
    if (suma + number) % 2 == 0:
        suma += number
print(suma)

650

In [ ]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos=[]
for diena in dienos:
    for valanda in valandos:
        kombinacijos.append((diena,valanda))
        #print(f'{diena} {valanda}')
print(kombinacijos)

In [15]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car["brand"])
print(len(car))
car["year"] = 2022
print(car)
car.update({"color":"red", "used":True})
print(car)
car.pop("brand")
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}